<ion-view view-title="Server Configuration" >
    <ion-nav-buttons side="left" >
        <button  on-touch="goBackToLogin()" class="button button-icon icon ion-chevron-left"></button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list list-inset">
				<label class="item item-input" /> 
				<input type="text" placeholder="Server:" ng-model="data.nombreServidor"/>
		</div>
					<div class="row">
				<button class="button button-block button-positive" on-touch="saveInfo()">Save</button>
			</div>
	</ion-content>
</ion-view>