<ion-view view-title="Configuration" >
	<ion-content>
		<div class="list list-inset">
				<label class="item item-input" /> 
				<input type="text" placeholder="Server:" ng-model="data.nombreServidor"/>
		</div>
					<div class="row">
				<button class="button button-block button-positive" on-touch="saveInfo()">Save</button>
			</div>
			<div class="row">
				<button class="button button-block button-positive" on-touch="goBackToLogin()">Cancel</button>
			</div>
	</ion-content>
</ion-view>