<ion-view name="login-view" ng-init="initConfig()">
    <ion-nav-buttons side="right">
        <button ng-click="slider()" class="button button-icon icon ion-images">Slider</button>
    </ion-nav-buttons>
  <ion-content class="padding">
      <div class="list list-inset">
	  <div class="login-logo" align="center"><img src="img/flex-n-gate.png" ></img></div>
	  <br> </br>
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="submit()">Login</button>	  
	  </div>
  </ion-content>
  <ion-footer-bar align-title="right">
  <div class="buttons" >
    <button ng-click="config()" class="button button-icon ion-settings"></button>
  </div>
</ion-footer-bar>
</ion-view>