<ion-view view-title="Principal">
<ion-content class="padding">
</ion-content>
 <ion-tabs >
  <ion-tab title="Codes" icon-on="ion-ios-barcode" icon-off="ion-ios-barcode-outline" href="#/principal/barcodes">
  <ion-nav-view name="tab-barcodes"></ion-nav-view>
    <!-- Tab 1 content -->
  </ion-tab>
   <ion-tab title="Users" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
    <!-- Tab 1 content -->
  </ion-tab>
  <ion-tab title="Log out" icon-on="ion-log-out" icon-off="ion-log-out">
    <!-- Tab 1 content -->
  </ion-tab>
</ion-tabs>
</ion-view>