<ion-view view-title="Barcodes" ng-init="loadCodes()">
	<ion-nav-buttons side="right">
        <button ng-click="slider()" class="button button-icon icon ion-images">Slider</button>
    </ion-nav-buttons>
  <ion-content class="padding">
  <!-- <div class="row"> -->
   <div class="item item-input-inset">
    	<label class="item-input-wrapper">
    	    <i class="icon ion-search placeholder-icon"></i>
      		<input type="text" placeholder="Search" ng-model="captureCode">
   		 </label>
   		 <button class="button button-small" on-touch="ScanBarcodesearch()" ng-model="searchCode" >
      		Scan
    	</button>
   </div>
 <!-- </div> -->
   
  <div class="row">
	 <div class="col col-100">
	 	<button type='button' class='button button-block button-balanced' id='add-code' on-touch="addCode()">Add Code</button>
	 </div>      
  	<!-- <div class="col col-50" id="disenableCodes">
       <button type="button" class='button button-balanced' id="enable-code" ng-if="currentBarcode !== undefined && currentBarcode.status == 'D'" ng-click="disableCode()">Enable Code</button>
       <button type='button' class='button button-assertive' id='disable-code' ng-if="currentBarcode !== undefined && (currentBarcode.status == 'E' || currentBarcode.status == null)" ng-click="enableCode()">Disable Code</button>
  	</div>-->
  </div>
  <ion-list id="lista-codigos" >
    <ion-item listCanSwipe = "true"  id='button-{{codigo.barcode}}' 
    		   ng-if="codigo.status == null || codigo.status == 'E'" 
    		   ng-if="barcodes.length > 0" 
    		   ng-repeat="codigo in visibleBarcodes" >{{codigo.barcode}}
		<ion-option-button  class="button button-positive" ng-click="selectCode(codigo.barcode, 1)">Select</ion-option-button>
		<ion-option-button class='button button-assertive' ng-click="enableCode(codigo.barcode)">Disable</ion-option-button>
		
	</ion-item>
    <ion-item  id='button-{{codigo.barcode}}' 
               ng-if="codigo.status == 'D'" 
               ng-if="barcodes.length > 0" 
               ng-repeat="codigo in visibleBarcodes" >{{codigo.barcode}} - Disabled
        <ion-delete-button class="button button-assertive"  ng-click="selectCode(codigo.barcode, 1)">Select</ion-delete-button>
        <ion-option-button  class='button button-balanced'  ng-click="disableCode(codigo.barcode)">Enable</ion-option-button>
    </ion-item>
    <ion-item ng-if="barcodes.length < 1">No existen codigos</ion-item>
  </ion-list>
   
  </ion-content>
</ion-view>
