<ion-view view-title="Control Users" ng-init="loadUsers()" ng-controller="UsersCtrl">
	<ion-nav-buttons side="right" >
        <button on-touch="slider()" class="button button-icon icon ion-images">Slider</button>
    </ion-nav-buttons>
    <ion-content class="padding" ng-controller="UsersCtrl">
	<div class="item item-input-inset">
	    	<label class="item-input-wrapper">
	    	    <i class="icon ion-search placeholder-icon"></i>
	      		<input type="text" placeholder="Search" ng-change="searchUser(captureUser)" ng-model="captureUser">
	   		 </label>
	 </div>
		<div class="row">
			<div class="col col-100">
				<button type='button' class='button button-block button-balanced' id='add-User' on-touch="adduser()">Add User</button>
			</div>
		</div>
		 
		<ion-list id="lista-codigos">
			
			<ion-item id='button-{{user.username}}' 
	   		   ng-if="users.length > 0" 
	   		   ng-repeat="user in visibleusers" >{{user.username}} - ({{user.nombre}})
				<ion-option-button   class="button button-energized" ng-click="changePassword(user.username,user.nombre)">Change Pass</ion-option-button>
				<ion-option-button  class='button button-assertive'  ng-click="delUser(user.username)">Delete</ion-option-button>
			</ion-item>

		</ion-list>
	 </ion-content>  
</ion-view>
